<h1>Promotion System</h1>
<h3>Boas vindas ao sistema de gestão de promoções</h3>

<%= link_to 'Promoções', promotions_path %>

<%# <%= 1 + 1 %>
<%# O símbolo <%= > ele irá executar e mostrar na tela %>
<%# O símbolo <% > ele irá executar, mas sem mostrar na tela.  %>