<h1>Categorias de produtos</h1>

<%= link_to 'Cadastrar categoria', new_category_path%>

<h3>Categorias listadas</h3>
<%= @categories.each do |category| %>
  <dl>
    <dt>Nome</dt>
    <dd><%= link_to category.name, category_path(category.id) %></dd>
  </dl>
<% end %>