<h1>Editar Promoção <%= @promotion.name %></h1>

<%= link_to 'Voltar', promotion_path %>

<% if @promotion.errors.any? %>
  <div class="alert">
    <p>Não foi possível alterar a promoção</p>
    <p>Confira os erros abaixo:</p>
    <ul>
      <% @promotion.errors.full_messages.each do |error|%>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end%>

<%= render 'partials/promotions/form' %>
